:root {
  --primary-green: #B2D235;
  --white: #ffffff;
  --dark-gray: #222222;
  --light-gray: #6b6b6b;
  --new-flag: #FE5D26;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
}
header {
  background-color: var(--dark-gray);
  padding: 1rem 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 0rem;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: .3581rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: .5rem;
  padding-left: 1.25rem;
}
.menu-toggle span {
  display: block;
  width: 1.5rem;
  height: .1194rem;
  background-color: var(--white);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-img {
  width: 6.25rem;
  height: auto;
}

.nav {
  display: none;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-size: .875rem;
  font-weight: 500;
  white-space: nowrap;
}

.header-actions {
  display: none;
}

.sign-btn {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
}

.join-btn {
  background-color: var(--primary-green);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 600;
  padding: .75rem 1.875rem;
  border-radius: 1.25rem;
  white-space: nowrap;
}


@media (min-width: 1024px) {
  header {
    padding: 1.5rem 0;
  }

  header .container {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  header .menu-toggle {
    display: none;
  }

  header .logo {
    position: static;
    transform: none;
    left: auto;
  }

  header .nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-left: 2rem;
  }

  header .header-actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}
/* /////////////////////////////////////////////////////////////// */

main{
width: 100%;
}

.search-listing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
  place-content: center;
  place-items: center;
  
}

.search-listing-text h1 {
  
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.3;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px .0625rem .1875rem rgba(34, 34, 34, 0.16);
  border-radius: 2.1875rem;
  background-color: var(--white);
  padding: .5rem .5rem .5rem 1rem;
  gap: .5rem;
}

.search-box input {
  width: fit-content;
  background-image: url("assets/location-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 1rem 1rem;
  flex-grow: 1;
  padding: 1rem;
  border: none;
  font-size: .75rem;
  outline: none;
  color: var(--dark-gray);
}

.search-box input::placeholder {
  font-size: .75rem;
  font-weight: 400;
  color: var(--dark-gray);
  opacity: 0.5;
}

.search-btn {
  background-color: var(--primary-green);
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.search-btn img {
  width: 1rem;
  height: 1rem;
}

.search-listing-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-listing-img img {
  width: 100%;
  height: auto;
}

@media (min-width:1024px) {
  .search-listing {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .search-listing .search-listing-text h1 {
    font-size: 2.5rem;
  }
}
/* ///////////////////////////////////////////////////////////////////*/
.featured-listing {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.featured-listing h2 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 2rem;
  color: #222222;
  text-align: center;
}
.featured-listing .carousel {
  position: relative;
  overflow: hidden;
}

.featured-grid {
  display: flex;
  gap: 1.5rem;
}

.featured-listing-card {
  min-width: 320px;
  flex-shrink: 0;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  position: relative;
  background: #FFFFFF;
}

.card-img {
  position: relative;
  width: 100%;
  height: 9.975rem;
  background-size: cover;
  overflow: hidden;
}


.flag-wrapper {
  position: absolute;
  top: .8675rem;
  left: .8675rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-img-flag {
  border-radius: 4px;
  font-weight: 500;
  font-size: .625rem;
  width: 3.3625rem;
  height: 1.1875rem;
  text-transform: capitalize;
  display: grid;
  place-items: center;
}

.card-img-flag.new {
  background-color: var(--new-flag);
  color: var(--white);
}

.card-img-flag.sale {
  background-color: var(--primary-green);
  color: var(--white);
}

.card-img-flag.rent {
  background-color: var(--primary-green);
  color: var(--white);
}

.card-img-person {
  position: absolute;
  bottom: .4338rem;
  right: .4338rem;
  border-radius: 50%;
  border: 1px solid #979797;
  background-image: url("assets/pexels-pixabay-220453.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.288871));
  width: 2.1693rem;
  height: 2.1693rem;
}


.listing-content {
  padding-left: 1.3019rem;
}

.listing-header {
  margin-bottom: .6038rem;
}

.listing-info {
  flex: 1;
  position: relative;
}

.listing-title {
  background-color: var(--white);
  padding-top: .6288rem;
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--dark-gray);
  margin-bottom: .375rem;
}

.listing-location {
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: .0037rem;
  margin-bottom: .25rem;
}

.listing-location span {
  background-color: var(--white);
  margin-top: -0.3125rem;
  font-weight: 400;
  opacity: 0.55;
  font-size: .875rem;
  color: var(--dark-gray);
}

.listing-distance {
  background-color: var(--white);
  padding-left: .7013rem;
  background-image: url("assets/location-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: .4069rem .625rem;
  font-size: .625rem;
  color: #a0a0a0;
  opacity: 0.8;
  position: absolute;
  top: .9375rem;
  right: 1.0938rem;

}

.listing-services {
  background-color: var(--white);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: .6038rem 0;
  flex-wrap: wrap;
}

.listing-services span {
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 1.4592px;
  font-size: .75rem;
  color: #22222280;
  font-weight: 400;
}

.service-bed::after {
  content: '';
  background-image: url("assets/bedroom.svg");
  background-repeat: no-repeat;
  width: .8625rem;
  height: .6875rem;

}

.service-wifi::after {
  content: '';
  background-image: url("assets/wifi (1).svg");
  background-repeat: no-repeat;
  width: .8625rem;
  height: .6875rem;

}


.service-bath::after {
  content: '';
  background-image: url("assets/bathtub.svg");
  background-repeat: no-repeat;
  width: .8625rem;
  height: .6875rem;

}


.service-condition::after {
  content: '';
  background-image: url("assets/air-conditioner.svg");
  background-repeat: no-repeat;
  width: .8625rem;
  height: .6875rem;

}

.service-furniture::after {
  content: '';
  background-image: url("assets/bench (1).svg");
  background-repeat: no-repeat;
  width: .8625rem;
  height: .6875rem;

}

.listing-content hr {
  border: none;
  border-top: 1px solid #D8D8D8;
  margin: 1rem 20.83;
}

.listing-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-price {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--dark-gray);
}

.listing-price.rent::after {
  content: '/Month';
  font-size: 1.125rem;
  color: var(--dark-gray);
  font-weight: 600;
  /* margin-left: 4px; */
}

.listing-share {
  margin-top: .6125rem;
  margin-bottom: .25rem;
  margin-right: .875rem;
  display: flex;
  gap: .4244rem;
  border: none;
}

.icon-btn {
  width: 1.3019rem;
  height: 1.3019rem;
  border-radius: 50%;
  background-color: #F4F4F4;
  border: .0625rem solid #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px .0625rem 6px rgba(34, 34, 34, 0.16);
}

.icon-btn i {
  color: #979797;
  font-size: .625rem;
  transition: color 0.2s;
}

.icon-btn:hover {
  border-color: var(--primary-green);
  background: var(--primary-green);
  transform: translateY(-0.125rem);
}

.icon-btn:hover i {
  color: var(--white);
}

.circles {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 18px;
}

.circle {
  width: .6875rem;
  height: .6875rem;
  border-radius: 50%;
  background: #D8D8D8;
  cursor: pointer;
  transition: all 0.3s;
}

.circle.active {
  background-color: var(--white);
  border: .125rem solid var(--primary-green);
  width: .6875rem;
  height: .6875rem;
  border-radius: 50%;
}


@media (min-width:1024px) {
  .featured-listing h2{
    font-size: 2rem;
  }
    .featured-listing .featured-listing-card {
    min-width: calc(33% - .625rem);
  }

  .featured-listing .featured-listing-card .card-img {
    height: 13.75rem;
  }
}
/* ///////////////////////////////////////////////////////////////////*/
.events {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;  
  align-items: center;
  min-width: 100%;
  padding: 0 1rem; 
}

.events h2 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 1.125rem;
  margin-top: 2.25rem;
  color: #222222;
  text-align: center;
}
.events nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 2.25rem;
  margin-bottom: 1.5rem; 
}

.event-status {
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--dark-gray);
  opacity: 0.4971;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.event-status::after {
  content: "";
  position: absolute;
  left: 50%;                 
  bottom: -0.3125rem;                
  width: 66%;                
  height: .125rem;  
  background-color: var(--primary-green);
  transform: translateX(-50%);
  opacity: 0;               
}

.event-status:hover {
  color: var(--primary-green);
}

.event-status:hover::after {
  opacity: 1;
}
.carousel{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: .9375rem;
  padding-right: .9375rem;
}
.events-grid {
  display: flex;
  gap: 1.25rem;
  transition: transform 0.5s ease;
  padding-bottom: .625rem;
}
.carousel-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--primary-green);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.carousel-btn.prev {
  left: 0rem;
}

.carousel-btn.next {
  right: 0rem;
}
.event-card {
  flex-shrink: 0;
  width: 100%;              
  max-width: 20rem;
  height: 18.75rem;
  background: #fff;
  background-image: url("");
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 7px;
  box-shadow: 0px .0625rem .5625rem rgba(0,0,0,0.16);
  position: relative;
}

.card-img-flag.personal {
  background-color: var(--new-flag);
  color: var(--white);
}
.card-img-flag.webiner {
  background-color: var(--primary-green);
  color: var(--white);
}

.card-img-date {
  position: absolute;
  top: 0rem;
  right: .875rem; 
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: .1875rem;
  font-weight: 400;
  font-size: 1.375rem;
  width: 3.9375rem;
  height: 3.5625rem;
  text-transform: capitalize;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card-content{
  position: absolute;
  bottom: 1.875rem;
 display: flex;
 flex-direction: row;
}
.event-info{
  position: relative;
  top: .625rem;
  left: .4375rem;

}
.event-title{
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark-gray);
}
.event-time{
  font-weight: 400;
  font-size: .75rem;
  color: var(--dark-gray);
  opacity: 0.5;
}
 .card-footer {
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;
  justify-content: space-between;
  padding: .3125rem .625rem;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  gap: .625rem;
}


.event-action {
  display: flex;
  gap: .5rem;
}
.icon-btn.add {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: none;
  border: .0625rem solid var(--primary-green); 
  text-align: center;
  font-size: 1.75rem;
  color: var(--primary-green);
}

.people {
  background: url("assets/people.svg") no-repeat left center;
  padding-left: 1.5rem; 
  font-size: .75rem;
  color: var(--primary-green);
}

@media (min-width:1024px) {
    .events h2{
      font-size: 2rem;
}

}

/* ///////////////////////////////////////////////////////////////////*/
.search-network{
  padding: 2.5rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  display:flex;
  flex-direction: column;
}
.search-network-text {

}

.search-network-text h2 {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--dark-gray);
  padding-bottom: 1.125rem;


}

.search-network-text h2::after {
  content: "+";
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--primary-green);
}

.search-network-text p {
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

.search-network-text button {
  background-color: var(--primary-green);
  width: 7.3125rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  color: var(--white);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: .9375rem;
  margin-bottom: 2.25rem;

}

.search-network-teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.5rem;
  text-align: center;
  place-content: center;
}

.search-network-teams span {
  font-size: .875rem;
  font-weight: 400;
  color: var(--dark-gray);
  display: inline-block;
}

.search-network-teams span:nth-child(1):before {
  content: url("assets/female-attorney-woman-female-lawyer-svgrepo-com.svg");
}

.search-network-teams span:nth-child(2):before {
  content: url("assets/camera-svgrepo-com.svg");
}

.search-network-teams span:nth-child(3):before {
  content: url("assets/agent-svgrepo-com.svg");
}

.search-network-teams span:nth-child(4):before {
  content: url("assets/clean-svgrepo-com.svg");
}

.search-network-teams span:nth-child(5):before {
  content: url("assets/inspection-svgrepo-com.svg");
}

.search-network-teams span:nth-child(6):before {
  content: url("assets/insurance-svgrepo-com.svg");
}

.search-network-teams span::before {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto .625rem;
}

@media (min-width:1024px) {

  .search-network {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-network h2 {
    font-size: 2rem;
  }

}
/* ///////////////////////////////////////////////////////////////////*/

.explore {
  background-color: #FAFAFA;
  width: 100%;
}
.explore h2 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 100%;
  padding-top: 2.25rem;
  margin-bottom: 1.125rem;
  color: #222222;
  text-align: center;
}
.card-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 0;
}
.card {
  min-width: 100vw;
  height: 33.25rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  z-index: 0;
  transition: filter 0.3s ease;
}
.card.ny::before {
  background-image: url('assets/new-york-city-evening-NYCTG0221.svg');
}
.card.cl::before {
  background-image: url('assets/170606120957-california---travel-destination---shutterstock-220315747.svg');
}
.card.al::before {
  background-image: url('assets/1200px-Anchorage_on_an_April_evening.svg');
}
.card.fl::before {
  background-image: url('assets/download (1).svg');
}
.card.nj::before {
  background-image: url('assets/shutterstockRF_520475221.svg');
}
.card.h::before {
  background-image: url('assets/download.svg');
}
.card.g::before {
  background-image: url('assets/download (2).svg');
}
.card:hover::before {
  filter: brightness(0.5);
}
.explore-text {
  position: relative;
  z-index: 1;
  color: white;
  padding-left: 2.1875rem;
}
.explore-text span:nth-child(1) {
  text-transform: capitalize;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.explore-text span:nth-child(2) {
  text-transform: capitalize;
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: .25rem;
}
.explore-text span:nth-child(2)::before {
  content: "2 ";
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--primary-green);
}
.circles {
  position: relative;
  z-index: 1;
  display: flex;
  gap: .625rem;
  margin-bottom: 1rem;
  padding-left: 2.1875rem;
}
.explore .circle {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--white);
  transition: all 0.3s ease;
}
.explore .active {
  background-color: transparent;
  border: .125rem solid var(--primary-green);
}

@media (min-width:1024px) {
  .explore {
    padding-bottom: 3rem;
  }

  .explore h2 {
    font-size: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 2.5rem;
  }

  .card:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
  }

  .card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .card:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .card:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .card:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .card:nth-child(7) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .card {
    height: 15rem;
    cursor: pointer;
    border-radius: .75rem;
  }
  .card {
    min-width: auto;
  }

  .card::before {
    border-radius: .75rem;
  }

  .explore-text {
    padding-left: 2rem;
  }

  .explore-text span:nth-child(1) {
    font-size: 1.5rem;
  }

  .explore-text span:nth-child(2) {
    font-size: 1rem;
  }

  .explore .circles{
    display: none;
  }
  
}
/* ///////////////////////////////////////////////////////////////////*/

.claim-address{
  background-color: var(--white);
}
.claim-address::before{
  content: "";
  background-color: var(--white);
  height:2.2188rem;
  display: block;
  border-bottom: 1px solid rgba(34, 34, 34, 0.16)
}
.map {
  background-color: #FAFAFA;
  height: 34.3125rem;
  background-image: url('assets/Group 160.svg');
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.map h2{
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 100%;
  padding-top: 2.25rem;
  padding-bottom: 1.125rem;
  color: #222222;
  text-align: center;
  order: 1;

}
.map span{
  background-image: url("assets/Group 8.svg");
  height: 3.7056rem;
  width: 3.1156rem;
  background-repeat: no-repeat;
  order: -1;
}

.map .search-box{
  width: 21.4375rem;
  height: 3.4375rem;
  order: 2;

}


@media (min-width:1024px) {
  .claim-address {
    height: 18.75rem;
  }
  .claim-address .map {
    background-image: url("assets/Group 160 (1).svg");
    background-repeat: no-repeat;
    text-align: center;
    flex: 1;
    height: 16.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
.map h2 {
  font-size: 2rem;
}

.map .search-box {
  width: 25.0625rem;
  height: 3.75rem;
}
}
/* ///////////////////////////////////////////////////////////////////*/
.join-us{
  height: 9.125rem;
  background-color: #AAD300;
  position: relative;

}
.join-us h3{
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 2.25rem;
  left:.5625rem;
}
.join-us h3::after {
  content: url("assets/download-logo-reverifi-white.svg");
  display: inline-block;
  width: 3.75rem;
  height: 1.875rem;
  fill: var(--white);
  vertical-align: middle; 
}
.join-us button{
width: 7.5rem;
  height: 2.375rem;
  border-radius: 1.75rem;
  background-color: var(--white);
  color: #222222;
  border: none;
  font-size:.75rem;
  font-weight: 600;
  position: absolute;
  top:4.875rem;
  right: 7.5rem;

}

@media (min-width:1024px) {
  .join-us{
    height: 4.5rem;
    background-color: var(--primary-green);
    display: grid;
    justify-items: center;
  }
  .join-us h3{
  font-size: 1.375rem;
  left: 31.25rem;
  top: 1.25rem;
  }

  .join-us button{
    top:1.25rem;
  }
}
/* ///////////////////////////////////////////////////////////////////*/

.contact {
  display: grid;
  grid-template-rows: auto auto; 
  gap: 1.25rem; 
  background-color: var(--white);
  padding: .9375rem;
}


.social-media {
  display: flex;
  gap: 1.0625rem;
  justify-content: flex-start; 
  align-items: center;
}

.social-media span:nth-child(1)::after {
  content: url("assets/Fill 9.svg");
}
.social-media span:nth-child(2)::after {
  content: url("assets/Group 11.svg");
}
.social-media span:nth-child(3)::after {
  content: url("assets/Group 15.svg");
}
.social-media span:nth-child(4)::after {
  content: url("assets/Group 31.svg");
}


.media{
  display: flex;
  flex-direction: column;
}
.traditional-contact {
  display: flex;
  flex-direction: column;
  gap: .625rem; 
}

.traditional-contact img {
  width: 7.5rem;
  height: 3.75rem;
  object-fit: contain; 
  margin-bottom: .625rem;
}
.traditional-contact span{
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-gray);
  opacity: 0.5;
  margin-bottom: .375rem;
  padding-right: .4656rem;
}

.traditional-contact span:nth-of-type(1)::before {
  content: url("assets/location.svg");
  margin-right: .3125rem;
}

.traditional-contact span:nth-of-type(2)::before {
  content: url("assets/mail.svg");
  margin-right: .3125rem;
}

.traditional-contact span:nth-of-type(3)::before {
  content: url("assets/phone-call.svg");
  margin-right: .3125rem;
}


.links{
  margin-left: 0px;
}
.links h3{
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  color: var(--primary-green);
  font-size: 1.125rem;
  font-weight: 400;
}

.links span{
  color: #6F7076;
  font-size: .875rem;
  font-weight: 400;
  display: block;
  margin-bottom: .9375rem;
}

.subscribe-bar label{
  color: var(--dark-gray);
  font-size: .75rem;
  font-weight: 400;
  opacity: 0.5;
}
.subscribe-bar button{
width: 7.5rem;
  height: 2.375rem;
  border-radius: 1.75rem;
  background-color: var(--primary-green);
  color: var(--white);
  border: none;
  font-size:.75rem;
  font-weight: 600;
  margin-left: .625rem;

}

@media (min-width:1024px) {
  .contact {
    grid-template-rows: 1fr 1fr;
    background-color: #F5F5F5;
  }
  .social-media{
    grid-row:1;
    justify-content: center;
  }
  .traditional-contact {
    grid-row: 2;
  }
  .media{
    flex-direction: row;
    justify-content: center;
    gap: 7.5rem;
  }
  
   .links {
    grid-column: auto;
    margin-left: 0;
  }
  
  .links h3 {
    margin-top: 0;
  }
  
  .subscribe-bar {
    grid-column: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .subscribe-bar button {
    margin-left: 0;
    width: 100%;
    max-width: 10rem;
  }
  
}
/* ///////////////////////////////////////////////////////////////////*/
footer{
  background-color: var(--dark-gray);
  color: var(--white);
  text-align: center;
  font-size: .75rem;
  font-weight: 400;
  background-color: var(--dark-gray);
  padding: 1rem 0;
}

@media (min-width:1024px) {
  footer{
    height: 5.125rem;
    font-size: 1rem;
  }
}
/* ///////////////////////////////////////////////////////////////////*/

